<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal</title>
</head>
<body>
    <form action="/animal" method="POST">

        <input type="number" name="idade" placeholder="Idade" required maxlength="255">
        <input type="text" name="nomeAnimal" placeholder="Nome" required maxlength="80">
        <input type="text" name="raca" placeholder="Raça" required maxlength="30">
        
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>